[Unit]
Description=Github Webhook Listener
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/matcha/webhook
ExecStart=uwsgi --ini webhook.ini

[Install]
WantedBy=multi-user.target
